.subPagesLayout {
  padding: 40px 0 60px 0;
  &__header {
    font-family: var(--roadRadio);
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 61px;
    background: linear-gradient(180deg, #8492D1 0%, #58649C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 40px 0;
  }
}