@font-face {
  font-family: GothamPro;
  src: url(../public/fonts/gothampro.ttf);
}
@font-face {
  font-family: RoadRadio;
  src: url(../public/fonts/roadradio_bold.otf);
}
:root {
  --roadRadio:'RoadRadio', sens-serif;
  --gotham:'GothamPro', sans-serif;
  --bg-main: #D9E3EC;
}

