div.DraftEditor-root {
    border: none;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    padding: 15px;
    font-family: var(--family-text);
    font-size: 18px;
    overflow-x: clip;
    overflow-y: auto;
    position: relative;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height:1100px;
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content img {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    padding-right: 15px;
    border-radius: 15px;
}
div.DraftEditor-editorContainer, div.public-DraftEditor-content h1, h2, h3 {
    margin:20px 0;
}
div.DraftEditor-editorContainer, div.public-DraftEditor-content h1 {
    margin: 20px 0;
    border-radius: 15px;
    display: block;
    color: #58649C;
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    color: #525252;
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    font-family: var(--family-text);
}
.public-DraftStyleDefault-unorderedListItem {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color:#525252;
}

.hyperLink {
    color: #58649C;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-decoration: underline;
    text-decoration-color: #58649C;
}
