@import '../../../UIKit/mediaSizes';
.search {
  position: relative;
  z-index:5;
  &__dropdown {
    background-color: white;
    color: black;
    font-family: var(--gotham);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    width: 457px;
    min-height: 100%;
    position: absolute;
    top: 120%;
    right: 0;
    border-radius: 10px;
    overflow-y: hidden;
    &__showMore {
      border-top: 1px solid #58649C;
      &__text {
        display: block;
        padding: 15px 10px;
        font-family: var(--gotham);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #272727;
        cursor: pointer;
      }
    }
    &__content {
      padding: 10px 0;
      color: black;
      text-decoration: none;
      & > a {
        color: black;
        position: relative;
        z-index: 15;
        text-decoration: none;
        display: block;
        color: black;
        font-family: var(--gotham);
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        min-width: 0;
        cursor: pointer;
        padding: 1px 5px;
        border-radius: 0px;
        margin: 10px 0;
        &:hover {
          background-color: #D9E3EC;
          font-weight: bold;
        }
      }
    }
  }
  &__input {
    border: none;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    &::placeholder {
      font-family: var(--gotham);
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #D9D9D9;
    }
    &:focus {
      outline: none;
    }
  }
  &__notFoundText {
     font-family: var(--roadRadio);
     color: #bdc1c9;
     text-align: center;
   }
  &__btn {
    width: 30px;
    height: 30px;
    background: #C0D2E2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width:$mobile) {
  .search {
    &__dropdown {
      width: 260px;
      z-index: 5;
      overflow-y: auto;
    }
  }
}