@import '../../../UIKit/mediaSizes';

.searchPage {
  width: 1170px;
  margin: auto auto;
  padding: 90px 20px 30px 20px;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }

  &__searchInput {
    margin: 30px 0 68px 0;
  }

  &__loader {
    padding: 50px 0;
    margin: auto auto;
  }

  &__tg {
    position: absolute;
    top: 100%;
    right: 0%;
  }
}

@media (max-width: 1170px) {
  .searchPage {
    padding-top: 90px;
    width: 100%;
    margin: 0 0;
    padding-bottom: 30px;

    &__tg {
      display: none;
    }
  }
}

@media (max-width: $mobile) {
  .searchPage {
    padding: 30px 20px 30px 20px;

    &__cards {
      gap: 0px;
    }

    &__searchInput {
      margin: 10px 0 30px 0;
    }

    &__loader {
      padding: 50px 0;
    }
  }
}