.container {
    background-color: #D9E3EC;
    min-height: 100vh;
    position: relative;
    background-image: url('../../assets/wave.svg');
    background-size: cover;
}

.content {
    position: relative;
    width: 970px;
    max-width: 970px;
    margin: auto auto;
    padding-top: 60px;
    z-index: 5;
}

.header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header:visited {
    text-decoration: none;
    color: #4C4C4C;
}

.header p {
    font-family: var(--gotham);
    font-weight: bold;
    font-size: 35px;
    line-height: 33px;
    color: #4C4C4C;
    margin-top: 30px;
    text-decoration: none;
}

.articlesList {
    padding-bottom: 40px;
    width: 100%;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcon__bubble {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #909090;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcon__bubble:hover {
    background-color: #525252;
}

.socialIcon__bubble:last-child {
    margin-left: 40px;
}

.socialIcon {
    color: white;
    flex-shrink: 0;
}

.bubble {
    position: absolute;
    background-color: #58649C;
    border-radius: 100%;
}

.bubble_1 {
    width: 302px;
    height: 302px;
    left: 89px;
    top: 80px;
    animation: linear 30s infinite bubble_1;
}

.bubble_2 {
    width: 109px;
    height: 109px;
    right: 10%;
    bottom: 65%;
    animation: linear 30s infinite bubble_2;
}

.bubble_3 {
    width: 391px;
    height: 391px;
    right: 0;
    bottom: 30%;
    animation: linear 30s infinite bubble_3;
}

.bubble_4 {
    width: 49.98px;
    height: 49.98px;
    bottom: 25%;
    left: 5%;
    animation: linear 15s infinite alternate bubble_4;
}

.bubble_5 {
    width: 181px;
    height: 216.44px;
    left: 2%;
    bottom: 20%;
    transform: rotate(-32.16deg);
    animation: linear 15s infinite alternate bubble_5;
}


@media screen and (max-width: 1646px) {
    .content {
        width: 95%;
        max-width: none;
        margin: auto auto;
    }

    .bubble_1 {
        width: 40px;
        height: 40px;
    }

    .bubble_2 {
        width: 40px;
        height: 40px;
    }

    .bubble_3 {
        width: 40px;
        height: 40px;
    }

    .bubble_4 {
        width: 40px;
        height: 40px;
    }

    .bubble_5 {
        width: 40px;
        height: 40px;
    }

    .vector {
        display: none;
    }

    .articlesList {
        width: auto;
    }

    .socialLinks {
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 30px;
    }

    .socialIcon {
        color: #909090;
    }

    .socialIcon:last-child {
        margin-left: 0px;
    }
}
@media screen and (max-width: 620px) {
    .bubble_1 {
        width: 40px;
        height: 40px;
    }

    .bubble_2 {
        width: 40px;
        height: 40px;
    }

    .bubble_3 {
        width: 40px;
        height: 40px;
    }

    .bubble_4 {
        width: 40px;
        height: 40px;
    }

    .bubble_5 {
        width: 40px;
        height: 40px;
    }

}
/*ANIMATIONS */
@keyframes bubble_1 {
    0% {
        left: 89px;
        top: 80px;
    }
    20% {
        left: -10%;
        top: -10%;
    }
    25% {
        left: -8%;
        top: -8%;
    }
    30% {
        left: -10%;
        top: -10%;
    }
    50% {
        left: 10%;
        top: 5%;
    }
    55% {
        left: 8%;
        top: 3%;
    }
    60% {
        left: 10%;
        top: 5%;
    }
    100% {
        left: 89px;
        top: 80px;
    }
}

@keyframes bubble_2 {
    0% {
        right: 10%;
        bottom: 65%;
    }
    50% {
        width: 43px;
        height: 43px;
        right: 9%;
        bottom: 90%;
    }
    100% {
        width: 109px;
        height: 109px;
        right: 10%;
        bottom: 65%;
    }
}

@keyframes bubble_3 {
    0% {
        right: 0;
        bottom: 30%;
    }
    20% {
        bottom: 40%;
        right: 17%;
    }
    25% {
        bottom: 38%;
        right: 14%;
    }
    28% {
        bottom: 40%;
        right: 17%;
    }
    30% {
        bottom: 44%;
    }
    35% {
        bottom: 40%;
    }
    40% {
        bottom: 44%;
    }
    60% {
        bottom: 34%;
    }
    100% {
        right: 0;
        bottom: 30%;
    }
}

@keyframes bubble_4 {
    0% {
        bottom: 25%;
        left: 5%;
    }
    50% {
        bottom: 40%;
        left: 10%;
    }
    100% {
        bottom: 17%;
        left: 13%;

    }
}

@keyframes bubble_5 {
    0% {
        left: 2%;
        bottom: 20%;
    }
    50% {
        bottom: 4%;
    }
    100% {
        left: 20%;
        bottom: 8%;
    }
}