
.commonPagination {
    list-style: none;
    font-family: var(--family-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #525252;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commonPagination > li {
    cursor: pointer;
    display: inline-block;
    margin:0 15px;
}

.commonPagination__activePage {
    line-height: 24px;
    text-decoration: underline;
    font-weight: 700;
    -webkit-text-stroke: 1px #000000;
}

@media (max-width:760px) {
    .commonPagination > li:nth-child(odd) {

    }
    .commonPagination {

    }
    .commonPagination > li {
        margin: 0 6px;
    }
}